* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.App {
    background-image: url(images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 70%;
    font-family: "Rubik", sans-serif;
}

.size-fill {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    padding: 20px 5px;
}

.Input-Error h4 {
    position: relative;
    z-index: 12;
    color: hsl(0, 67%, 20%);
    font-size: 20px;
}

.input-container {
    position: relative;
    z-index: 10;
    width: 95%;
    height: 40px;
    max-width: 500px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    top: 5%;
}

.input-container input {
    height: 100%;
    flex-grow: 8;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
    padding-left: 10px;
}

.input-container button {
    height: 100%;
    flex-grow: 1;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: hsl(0, 0%, 17%);
}

.input-container button:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 59%);
}

.info-card {
    margin: 10px auto;
    width: 95%;
    background-color: white;
    height: auto;
    min-height: 130px;
    border: none;
    border-radius: 15px;
    z-index: 10;
    position: relative;
}

.info-card .card-details div {
    width: 25%;
    height: 50%;
    border-right: 1px hsl(0, 0%, 17%) solid;
    padding-right: 10px;
}

.info-card .card-details div:last-of-type {
    border: none;
}

.info-card h3 {
    font-weight: 700;
    color: hsl(0, 0%, 59%);
    font-size: 15px;
}

.info-card div p {
    font-weight: 500;
    font-size: 19px;
    margin-top: 10px;
}


/*map*/

.map-container {
    max-height: 69vh;
    min-width: 100vw;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.leaflet {
    height: 69vh;
    z-index: 1;
}


/*Responsive Design For Mobile*/

@media only screen and (max-width: 768px) {
    .input-container input {
        width: 30%;
    }
    .card-details {
        flex-direction: column;
    }
    .size-fill {
        font-size: 20px;
        padding: 10px 4px;
    }
    .info-card div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-card .card-details div {
        width: 100%;
        border-right: none;
        height: auto;
        min-height: 70px;
    }
    .info-card div h3 {
        font-size: 100%;
    }
    .info-card div p {
        font-size: 130%;
    }
}